body{
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	width: auto;
	padding-bottom: 3rem;
}
#headtitle{
	padding-left: 1rem;
	padding-right: 1rem;
}
#header_block{
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
  	border-radius: 7.5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
	#header_block_title{
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 0px;
		margin-bottom: 0px; 
	}
	#header_block_row1{
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
		.header_block_row1_cell{
			display: inline-block;
			width: auto;
		}
		#icon_box, #temperature_box, #humidity_box, #rainfall_box, #UV_box{
			display: inline-block;
			width: auto;
			margin-right: 3rem;
		}
			#temperature_word, #temperature_symbol, #humidity_word, #humidity_symbol, #rainfall_word, #rainfall_symbol, #UV_word{
				display: inline-block;
			}
			#weather_icon{
				object-fit: contain;
				margin-bottom: -.5rem;
				height: 4.5rem;
			}
			#temperature_word{
				font-size: 5rem;
			}
			#temperature_symbol{
				vertical-align: top;
				margin-top: 1rem;
			}
			#humidity_icon, #rainfall_icon, #UV_icon{
				height: 3rem;
				margin-bottom: -.3rem;
				margin-right: .2rem;
			}
			#humidity_word, #rainfall_word, #UV_word, #closest_temperature_word{
				font-size: 3.5rem;
			}
	#header_block_row2{
		height: 1rem;
		position: relative;
	}
		#warning_box{
			position: absolute;
			display: block;
			left: -1.8rem;
			bottom: -.8rem;
			background-color: rgba(255, 96, 96, 0.90);
			padding-left: 2rem;
			padding-right: 2rem;
			padding-top: .5rem;
			padding-bottom: .5rem;
			color: white;
			border-radius: 7.5px;
		}
			#warning_box_title{
				display: inline;
				padding-top: 0px;
				padding-bottom: 0px;
				margin-top: 0px;
				margin-bottom: 0px; 
			}
			#warning_ul{
				margin-top: .5rem;
				margin-bottom: .25rem;
				padding-left: 1.25rem;
			}
		#last_update_box{
			position: absolute;
			right: -1rem;
			bottom: -0.5rem;
		}
#location_section{
	display: flex;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
#mydata_block{
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 2.5rem;
  	border-radius: 7.5px;
	width: 60%;
	background-color: rgb(200,255,200);
	margin-right: .35rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	margin-bottom: 0rem;
}
	#mydata_block_row1{
		width: 100%;
		display: flex;
	}
		#address_box, #closest_temperature_box{
			width: 50%;
			padding-left: 0px;
			padding-right: 0px;
		}
			#closest_temperature_word, #closest_temperature_symbol{
				display: inline-block;
			}
			#closest_temperature_symbol{
				vertical-align: top;
				margin-top: .7rem;
			}
	#mydata_block_row2{
		width: 100%;
		display: flex;
	}
		#closest_rainfall_box, #closest_aqhi_box{
			width: 50%;
			padding-left: 0px;
			padding-right: 0px;
		}
			#closest_rainfall_icon{
				height: 3rem;
				margin-bottom: -.3rem;
				margin-right: .2rem;
			}
			#closest_rainfall_word, #closest_rainfall_symbol{
				display: inline;
			}
			#closest_rainfall_word{
				font-size: 2.5rem;
			}
			#closest_aqhi_box{
				display: flex;
			}
				#closest_AQHI_icon{
					height: 3.8rem;
					margin-top: .35rem;
					object-fit: contain;
					margin-right: .5rem;
				}
				#closest_aqhi_box_subbox{
					display: inline-flex;
					flex-direction: column;
				}
					#closest_aqhi_word{
						font-size: 2.5rem;
					}
#temperature_block{
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
  	border-radius: 7.5px;
	width: 40%;
	background-color: rgb(250,250,250);
	margin-left: .35rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
	#location_select_list{
		margin-top: .5rem;
		margin-bottom: 0rem;
	}
	#temperature_block_row3{
		min-height: 2.5rem;
	}
		#location_select_temperature_word, #location_select_temperature_symbol{
			display: inline-block;
		}
		#location_select_temperature_word{
			font-size: 3.5rem;
		}
		#location_select_temperature_symbol{
    		vertical-align: top;
			margin-top: .7rem;
		}

#forecast_block{
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 2.5rem;
  	border-radius: 7.5px;
	background-color: rgb(230,230,230);
	margin-left: .35rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	overflow-x: hidden;
	overflow-y: hidden;
	display: inline-block;
}
	#forecast_block_row1{
		display: flex;
		width: 100%;
		min-width: 640px;
		padding-right: 0rem;
	}
		.day_box{
			width: 11.111%;
			display: flex;
			flex-direction: column;
  			justify-content: center;
		}
		.day_box_line{
  			text-align: center;
		}
		.day_box_weather_icon{
			object-fit: contain;
			margin-left: .5rem;
			margin-right: .5rem;
			height: 4rem;
		}

@media screen and (max-width:1000px) {
	.header_block_row1_cell{
		display: flex;
		width: 100%;
	}
	#icon_box, #temperature_box, #humidity_box, #rainfall_box, #UV_box{
		width: 50%;
		margin-right: 0rem;
	}
	#location_section{
		display: flex;
		flex-direction: column;
	}
	#mydata_block{
		width: auto;
		margin-right: 0rem;
		margin-bottom: 1.5rem;
	}
	#temperature_block{
		width: auto;
		margin-left: 0rem;
	}
}
@media screen and (max-width:700px) {
	#forecast_block{
		overflow-x: scroll;
	}
	#forecast_block_row1{
		padding-right: 2rem;
	}
}
